/* latin */
@font-face {
  font-family: 'Acme';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/acme/v11/RrQfboBx-C5_XxrBbk_m3Lg.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}



* {
  box-sizing: border-box;
  font-family: "Acme";
  padding: 0;
  margin: 0;
}

.App {
  text-align: center;
  display: flex;
  flex-direction: row;
  justify-content: center;
  height: 100vh;
}


.title {
  font-size: 5em;
  text-shadow: 2px 2px 5px black;
  color: rgb(196, 231, 255);
  margin-top: 4vh;
}

.sub-title {
  font-size: 1.5em;
  text-shadow: 2px 2px 5px black;
  color: rgb(196, 231, 255);
}

.flag-img {
  height: 300px;
  width: 480px;
}

#randomize {
  background-color: rgb(98, 110, 177)
}

 .correct-list-outer {
  display: flex;
  background-color: rgb(44, 43, 51);
  flex-direction: column;
  max-height: 300vh;
  width: 70vh;
  border: none;
  overflow-y: auto;
  z-index: 1;
}

.bottom-btns {
  display: flex;
  justify-content: space-evenly;
}

.top-btns {
  display: flex;
  justify-content: space-evenly;
  margin-left: 2vh;
}


#right-side {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 200vh;
  max-height: 100vh;
  margin-bottom: 3vh;
  padding-bottom: 3vh;
} 

.correct-ans-text {
  font-size: 1.7em;
  color: rgb(214, 221, 255);
  margin: 15px;
}

.timer {
  font-size: 2em;
  color: rgb(214, 221, 255);
  margin: 3vh;
}

.correct-text {
  font-size: 1.5em;
  color: rgb(214, 221, 255);
}

.collapsible-header {
  font-size: 1.2em;
text-align: center;
}

#list {
  background-color: rgb(86, 83, 102);
  border-radius: 3px;
  text-align: center;
  color: aliceblue;

}

#more-info {
  background-color: gray;
  border-radius: 3px;
  text-align: center;
}

fieldset {
  border: none;
}